
<!DOCTYPE HTML>
<html>
  <head>
    <title>Food Cheezus</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
  <script src="../js/preferences.js"></script>
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    </style>



    <!----//End-top-nav-script---->
  </head>
  <body ng-app="foodcheezus" data-id=<%= groupNumber %>>


    <div  ng-controller="preferences">
      <!----//End-slider-script---->
      <!-- Slideshow 4 -->
          <div  id="top" class="callbacks_container">
            <div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6 col-md-offset-3">
            <div class="card" style="margin-top:120px">
                <h3 style="color:white; margin-left:20px;padding-top:25px">{{question}}</h3><hr style="background-color:gray">
                <div class="card-content">
                <div ng-repeat="answer in answers" style="padding-bottom:5px" ng-show="hasName">
                    <label style="color:white" class="checkbox-inline no_indent">
                      <input type="checkbox" id="{{answer}}"> {{answer}}
                    </label>
                  </div>
                </div>
                <div ng-hide="hasName" style="color:white">
                  <div class="form-group">
                    <input type="email" class="form-control" id="nickName" placeholder="Cool nickname also works" style="width:50%;margin-left:20px">
                  </div><br><br>
                </div>

                <div class="card-action">
                    <button href="#" target="new_blank" class="btn" style="background-color:#D32F2F;color:white" ng-click="next()" ng-show="hasName">Next</button>
                    <button href="#" target="new_blank" class="btn" style="background-color:#D32F2F;color:white" ng-click="grabName()" ng-hide="hasName">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
          </div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Make a Group</h4>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group"><br>
    <label for="exampleInputEmail1">Group Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="foodcheezus lovers">
  </div><br><br>
  <button type="submit" class="btn btn-default">Let's Eat!</button>
</form>
      </div>
    </div>

  </div>
</div>

</body>
</html>